/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_input_check   = true
    run_diff_analysis = true
}

if(params.only_input) {
    params.run_genome_prep = true
}

if(params.only_input) {
}
