/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_input_check   = true
    run_diff_analysis = true
    run_gsea          = true
}

if(params.only_input) {
    params.run_diff_analysis = false
    params.run_gsea = false
}

if(params.only_diff_analysis) {
    params.run_gsea = false
}
