/*
========================================================================================
    GENERAL
========================================================================================
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'DIFF_ANALYSIS:DUMP_SOFTWARE_VERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "${params.publish_dir_mode}",
            pattern: '*_versions.yml'
        ]
    }
}

/*
========================================================================================
    INPUT
========================================================================================
*/

if(params.run_input_check) {
    process {
        withName: 'DIFF_ANALYSIS:SAMPLE_DIFF_SAMPLESHEET_CHECK' {
            publishDir = [
                path: { "${params.outdir}/pipeline_info" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

/*
========================================================================================
    DIFF ANALYSIS
========================================================================================
*/

if(params.run_diff_analysis) {
    process {
        withName: 'DIFF_ANALYSIS:R_DESEQ2' {
            publishDir = [
                [
                    path: { "${params.outdir}/deseq2/${params.study_name}_${task.tag}" },
                    mode: "${params.publish_dir_mode}",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                    pattern: '*.deseq2.results.tsv'
                ],
                [
                    path: { "${params.outdir}/deseq2" },
                    mode: "${params.publish_dir_mode}",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                    pattern: 'deseq2.sizefactors.tsv'
                ],
                [
                    path: { "${params.outdir}/deseq2" },
                    mode: "${params.publish_dir_mode}",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                    pattern: 'normalised_counts.tsv'
                ]
            ]
            ext.args = { [
                "--test ${params.dsq_test}",
                "--fit_type ${params.dsq_fit_type}",
                "--min_replicates_for_replace ${params.dsq_min_replicates_for_replace}",
                "--lfc_threshold ${params.dsq_lfc_threshold}",
                "--alt_hypothesis ${params.dsq_alt_hypothesis}",
                "--p_adjust_method ${params.dsq_p_adjust_method}",
                "--alpha ${params.dsq_alpha}",
                "--lfcshrink_type ${params.dsq_lfcshrink_type}"
            ].join(' ').trim() }
        }

        withName: 'DIFF_ANALYSIS:R_DESEQ2_PLOTS' {
            publishDir = [
                path: { "${params.outdir}/deseq2/plots" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: 'DIFF_ANALYSIS:R_PCAEXPLORER' {
            publishDir = [
                path: { "${params.outdir}/pca_explorer" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: 'DIFF_ANALYSIS:R_VOLCANO_PLOT' {
            publishDir = [
                path: { "${params.outdir}/deseq2/${params.study_name}_${task.tag}/volcano" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

/*
========================================================================================
    GSEA
========================================================================================
*/

if(params.run_gsea) {
    process {
        withName: 'DIFF_ANALYSIS:R_GSEA' {
            publishDir = [
                path: { "${params.outdir}/gsea/${params.study_name}_${task.tag}" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
            ext.args = { [
                "--dsq_p_thresh ${params.dsq_p_thresh}",
                "--gsea_p_cutoff ${params.gsea_p_cutoff}",
                "--gsea_q_cutoff ${params.gsea_q_cutoff}",
                "--ontology ${params.gsea_ontology}",
                "--min_gset_size ${params.gsea_min_gset_size}",
                "--max_gset_size ${params.gsea_max_gset_size}",
                "--p_adjust_method ${params.gsea_p_adjust_method}",
                "--pathway_count ${params.gsea_pathway_count}",
                "--stats_metric ${params.gsea_stats_metric}",
                "--term_metric ${params.gsea_term_metric}",
                "--scale_ratio ${params.gsea_scale_ratio}",
                "--main_text_size ${params.gsea_main_text_size}",
                "--legend_text_size ${params.gsea_legend_text_size}"
            ].join(' ').trim() }
        }
    }
}
