/*
========================================================================================
    GENERAL
========================================================================================
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'DIFF_ANALYSIS:DUMP_SOFTWARE_VERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "${params.publish_dir_mode}",
            pattern: '*_versions.yml'
        ]
    }
}

/*
========================================================================================
    INPUT
========================================================================================
*/

if(params.run_input_check) {
    process {
        withName: 'DIFF_ANALYSIS:SAMPLE_DIFF_SAMPLESHEET_CHECK' {
            publishDir = [
                path: { "${params.outdir}/pipeline_info" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }   
}

/*
========================================================================================
    DIFF ANALYSIS
========================================================================================
*/

if(params.run_diff_analysis) {
    process {
        withName: 'DIFF_ANALYSIS:R_DESEQ2' {
            publishDir = [
                path: { "${params.outdir}/deseq2/${task.tag}" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: 'DIFF_ANALYSIS:R_DESEQ2_PLOTS' {
            publishDir = [
                path: { "${params.outdir}/deseq2/${task.tag}" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: 'DIFF_ANALYSIS:R_PCAEXPLORER' {
            publishDir = [
                path: { "${params.outdir}/deseq2/${task.tag}" },
                mode: "${params.publish_dir_mode}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
