/*
========================================================================================
    GENERAL
========================================================================================
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// /*
// ========================================================================================
//     INPUT
// ========================================================================================
// */

// if(params.run_input_check) {
//     process {
//         withName: 'CLIPSEQ:PARSE_FASTQ_INPUT:SAMPLE_BASE_SAMPLESHEET_CHECK' {
//             publishDir = [
//                 path: { "${params.outdir}/pipeline_info" },
//                 mode: "${params.publish_dir_mode}",
//                 saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//             ]
//         }

//         withName: 'CLIPSEQ:PARSE_FASTQ_INPUT:CAT_FASTQ' {
//             publishDir = [
//                 path: { "${params.outdir}/pipeline_info" },
//                 mode: "${params.publish_dir_mode}",
//                 saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
//                 enabled: params.save_merged_fastq
//             ]
//         }
//     }   
// }

