/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
        nextflow run {{ name }} -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    samplesheet = './tests/data/samplesheets/test.csv'
    counts      = './tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts.tsv'

    // // Logic
    // save_reference      = true
    // save_indexes        = true
    // save_merged_fastq   = true
    // save_trimmed        = true
    // save_align_intermed = true
    // save_unaligned      = true
}
