/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with multiple count files
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    samplesheet = './tests/data/samplesheets/test.csv'
    counts      = './tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts_s1.tsv,./tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts_s2.tsv,./tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts_s3.tsv,./tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts_s4.tsv,./tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts_s5.tsv'

    // Pipeline params
    comparisons = 'C_A:B_C'
    skip_gsea = true
}
