/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with blocking variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {


    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    samplesheet = './tests/data/samplesheets/test_wblocking.csv'
    counts      = './tests/data/counts/nfcore_rnaseq_test_salmon_gene_counts.tsv'
    comparisons = 'C_A:B_C:A_B'
    blocking_factors = 'C_A:/A_B:batch/B_C:batch'
}
